# Medusa Backend & Storefront URLs
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_BASE_URL=http://localhost:8000
NEXT_PUBLIC_DEFAULT_REGION=bd
NODE_ENV=development

# Medusa Storefront Publishable API Key
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_placeholder_publishable_key

# Stripe Publishable Key (Sandbox / Test Mode in development, Live in production)
NEXT_PUBLIC_STRIPE_KEY=pk_test_placeholder_key_here
